.page-content {
  max-width: 750px;
  margin: 0 auto;
}
.clear-button {
  margin: 0 12px 30px;
}
.page-title {
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  padding: 50px 0 40px;
}
.page-guide {
  .raffle-item {
    position: relative;
    background-color: #fff;
    margin: 0 12px 24px;
    width: 720px;
    border-radius: 8px;
    overflow: hidden;
  }
  .img-box {
    width: 140px;
    height: 140px;
    margin: 15px;
  }
  .raffle-title {
    line-height: 72px;
    font-size: 32px;
    font-weight: normal;
  }
  .raffle-brief {
    color: #999;
    font-size: 28px;
    margin-right: 10px;
  }
}
.qrcode-box {
  position: absolute;
  left: 50%;
  margin-left: -630px;
  top: 150px;
  width: 248px;
  background-color: #fff;
  border-radius: 8px;
}
.qrcode-area {
  margin: 20px 20px 10px;
}
.qrcode-tips {
  margin: 0 20px 10px;
  font-size: 18px;
  color: #999;
}
