// 抽奖公用css
.lotteryBox {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  width: 100%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 105;
}

.lottery-wrap {
  position: relative;
  width: 480px;
  background-color: #fefdf4;
  border-radius: 8px;
  // overflow: hidden;
  text-align: center;
  .title {
    font-size: 28px;
    font-weight: 900;
    line-height: 92px;
    color: #333;
    border-radius: 8px 8px 0 0;
    background-color: #fff6bd;
  }
  .btn-back, .btn-close {
    position: absolute;
    left: 50%;
    bottom: -108px;
    font-size: 0;
    background-color: #fefdf4;
    width: 60px;
    height: 60px;
    transform: translate(-50%, 0);
    border-radius: 50%;
    &:after, &:before {
      position: absolute;
      content: '';
    }
  }
  .btn-close {
    &:after, &:before {
      left: 12px;
      top: 30px;
      width: 36px;
      height: 2px;
      background-color: #333;
    }
    &:after {
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
  }
  .btn-back {
    &:after {
      left: 12px;
      top: 12px;
      width: 32px;
      height: 20px;
      border: 2px solid #333;
      border-top-color: transparent;
      border-right-color: transparent;
      transform: rotate(-45deg);
    }
  }
}

// 未中奖
.draw-wrap {
  padding-bottom: 60px;
  .draw-pic {
    width: 120px;
    height: 120px;
    margin-top: 40px;
    line-height: 0;
  }
  .reward {
    font-size: 24px;
    color: #999;
    padding-top: 40px;
  }
}

.result-wrap {
  .results {
    max-height: 480px;
    min-height: 240px;
    overflow: auto;
    border-radius: 0 0 8px 8px;
  }
  .result-item {
    text-align: left;
    border-bottom: 1px dashed #d6dbe9;
    padding: 16px 30px;
    color: #333;
    font-size: 26px;
    margin-right: 10px;
    &:last-child {
      border-bottom: none;
    }
  }
  .btn-detail {
    float: right;
    color: #333;
    font-size: 24px;
    border: 2px solid #ccc;
    padding: 4px 12px;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
  }

  .result-pic {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

}
